<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>

    <div class="box" id="heading">
        <h1>
            <%= listTitle %>
        </h1>
    </div>
    <div class="box">

        <% for(var i=0 ; i < listOfItems.length; i++){ %>
            <div class="item">
                <input type="checkbox" name="" id="">
                <p>
                    <%= listOfItems[i] %>
                </p>
            </div>
            <%}%>
                <form action="<%= redirectionPage %>" method="post" class="item">
                    <input type="text" name="newItem" id="" placeholder="New Item" autocomplete="off">
                    <button type="submit" name="button">+</button>
                </form>
    </div>
</body>

</html>